.light-mode {
  background-color: #fff;
  
}
.btn {
  background-color: white;
  outline: 3px solid #1a6aa2;
 color: white;
}


.btn:hover{
  background-color: white;
  color: #1A6AA2;
  outline: 5px double #1A6AA2;
}

form{
  background-color: rgb(230, 230, 230);
  padding: 15px 10px;
  border: 10px double #1A6AA2;
  border-radius: 10px;
  margin-right:50px ;
}